fastapi
uvicorn
python-multipart
torch
torchvision
numpy
pillow
segmentation-models-pytorch
timm
scikit-learn
opencv-python-headless
pandas
joblib
xgboost
requests
google-auth
google-cloud-firestore
firebase-admin